# Test files
*.test.js
*.spec.js

# React testing
src/setupTests.js
src/reportWebVitals.js

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc

# DB & temp
*.db
*.xlsx

# Uploads
uploads/